{% extends 'base.html.twig' %}

{% block title %}SousStatistique index{% endblock %}

{% block body %}
    <h1>SousStatistique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Signification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_statistique in sous_statistiques %}
            <tr>
                <td>{{ sous_statistique.id }}</td>
                <td>{{ sous_statistique.designation }}</td>
                <td>{{ sous_statistique.stat.signification }}</td>
                <td>
                    <a href="{{ path('app_sous_statistique_show', {'id': sous_statistique.id}) }}">show</a>
                    <a href="{{ path('app_sous_statistique_edit', {'id': sous_statistique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sous_statistique_new') }}">Create new</a>
{% endblock %}
